container{
    width:100%;
    height:100%;
    background-color:blue;
}
#menubar{
    width:100%;
    height:10%;
    background-color: brown;
}
#menubar{
    width:100%;
    height:20%;
    background-color:green;
}
.maincontent{
    width:100;
    height:10%;
}
.footer{
    width:100%;
    height: 10%;
    background-color: black;
}
